//variables//

$deepGrey: #3f3f3f;
$blackWithOpacity: rgba(0, 0, 0, 0.8);
$white: white;
$columnCountOne: 1;
$columnCountTwo: 2;
$columnCountThree: 3;
$elementWidthOne: 98vw;
$elementWidthTwo: 48vw;
$elementWidthThree: 32vw;
$fontFamily: "Quicksand", sans-serif;
